%p= image_tag @post.image.url(:medium)
%h3= @post.title
%p= @post.link
%p= @post.description
%p= @post.user.name
%p
  = @post.get_upvotes.size
  Likes
%p
  = @post.get_downvotes.size
  Dislikes
= link_to "like", like_post_path(@post), method: :get
= link_to "disklike", dislike_post_path(@post), method: :get
#comment
  %h2.comment_count= pluralize(@post.comments.count, "Comment")
  - @comments.each do |comment|
    .comment
      %p.username= comment.user.name
      %p.content= comment.content
  = render(:partial => "comments/form")


= link_to("Edit", edit_post_url(@post))
= link_to("Delete", post_url(@post), method: :delete, data: { confirm: "Are you sure?" })
= link_to("Home Page", root_url)
